<!DOCTYPE html>
<html>
<head>
    <title>Add Contractor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="card">
    <h3>Add Contractor</h3>

    <form method="post">
        <input name="name" placeholder="Name" required>
        <input name="email" placeholder="Email" required>
        <input name="experience" placeholder="Experience (years)" required>
        <input name="area" placeholder="Area" required>
        <input name="crop" placeholder="Crop Specialization" required>
        <button>Add Contractor</button>
    </form>
</div>

</body>
</html>
