<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/css/style.css') }}"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div class="dashboard">
    <h1>Farmer Dashboard 🌾</h1>
    <div class="cards">
        <div class="card">
    <a href="weather.html">🌦 Weather Prediction</a>
</div>
        <div class="card">📈 Contract Predictor</div>
       <div class="card">
    <a href=" crop_disease.html">🌱 Crop Disease Prediction</a>
</div>

<div class="card">
    <a href="contract.html">📈 Contract Predictor</a>
</div>


        <div class="card">
    <a href="chatbot.html">🤖 Farmer Chatbot</a>
</div>

        <div class="card">
    <a href="schemes.html">🏛 Govt Schemes</a>
</div>

    <br>
    <a href="/logout">Logout</a>
</div>
</body>
</html>
